/*css for the first page*/
@viewport {
  width: device-width ;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width ;
}

  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */

.sidenav {
  margin: 0;
  width: 13.8888vw;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
border: .069444vw solid #555; 
  
}

.sidenav a {
  display: block;
  color: black;
  padding: 1.11111vw;
  text-decoration: none;
font-size: 2vw;
}

.sidenav a.active {
  background-color: #F4B3B7;
  color: black;
}

.sidenav a:hover:not(.active) {
  background-color: rosybrown;
  color: white;
}

#main {
  margin-left: 13.88888vw;
 padding: .069444vw 1.111111vw;
  height: 69.4444vw;

}
.border {
  text-align: center;
  border-bottom: .06944vw solid #555;
}
.active{
    text-align: center;
    border-bottom: .06944vw solid #555;
}


@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
      float: left;
    }
#main {
    margin-left: 0;
    
    }
    .border{
        border-right:.06944vw solid #555;
        
    }
    .active{
        border-right:.06944vw solid #555;
        
    }
    body{ 
     overflow-x: hidden;
    
    }
}

@media screen and (max-width: 400px) {
  .sidenav {
      padding-top: 1.04666vw;
    }
  .sidenav a {
      font-size: 2.1vw;
    }
    .sidenav a {
    text-align: center;
    float: none;
      
  }
    body{ 
     overflow-x: hidden;
    }
    
.button{
     font-size: 1.5vw; 
}
}  

body {
   background-color: #FFFFFF;
    max-width: 100%;
    overflow-x: hidden;
}

#header{background-color: #F4B3B7}

.pageheader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
    height: auto;
    width: auto;
}
.pageheader#pg2pic{
    max-height: 50%;
    max-width: 50%;
    width:auto;
    height:auto;
}


.title{ 
	text-align:center;
	color: MediumSeaGreen;
	font-family: "Apple Chancery", cursive;
	border-style:groove;
	border-color:hsla(0, 90%, 70%, 0.3);
	border-radius: 1.736vw;
}

#tasks{
	font-style: oblique
}	

/* mouse over link */
a:hover {
  color: tomato;
}

	
h3::first-letter{
font-family: "Snell Roundhand", cursive;
font-size: xx-large;
letter-spacing: .2vw;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: .069444vw;
  font-size: 2vw;
  border: .06944vw solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
   padding: .069444vw; 
 
}

form.example button:hover {
  background: #0b7dda;
    
}
form.example{
     max-width:20.83333vw;
    float:right;
}
 form.example input[type=text]:focus{
  background-color: aliceblue;
}
div > p {
  font-family: "Comic Sans MS", "Comic Sans", cursive
}
.destination,.bouquets,.dresses{
    font-size: 2vw;
}

.button{
     font-size: 1.5vw; 
    font-style: oblique
    
}